<div class="feedback-container">
  <div class="feedback-group">
    <div>
      <img src="assets/svg/icon-suggestions.svg" />
    </div>
    <div class="suggestions">
      {{ (feedbacks$ | async)!.length }} Suggestions
    </div>
    <div class="sorting-container">
      <div class="sortby-text">Sort by :</div>
      <select class="sorting-menu" (change)="sortByOption($event)">
        <option
          class="sorting-option"
          *ngFor="let option of sortOptions"
          [value]="option"
        >
          {{ option }}
        </option>
      </select>
    </div>
  </div>
  <app-primary-btn
    (click)="navigateToForm()"
    text="+ Add Feedback"
  ></app-primary-btn>
</div>
