.container {
  display: grid;
  grid-template-columns: [full-start] 1fr repeat(10, [col-start] 1fr [col-end]) 1fr [full-end];
  margin-top: 50px;
  grid-gap: 30px;
  background-color: var(--background-white);
}

.side-bar {
  grid-column: col-start 1 / col-end 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-area {
  grid-column: col-start 4 / col-end 10;
}
