<div class="container">
  <div class="side-bar">
    <app-main-logo class="side-bar-child"></app-main-logo>
    <app-display-category
      class="side-bar-child"
      [catagories]="allCatagories"
    ></app-display-category>
    <app-roadmap-sidebar class="side-bar-child"></app-roadmap-sidebar>
  </div>
  <div class="main-area">
    <app-feedback-bar></app-feedback-bar>
    <div
      class="feedback-column"
      *ngIf="feedbacks$ | async as feedbacks; else emptyDisplay"
    >
      <app-feedback
        *ngFor="let feedback of feedbacks"
        [info]="feedback"
      ></app-feedback>
    </div>
    <ng-template #emptyDisplay>
      <app-empty-display></app-empty-display>
    </ng-template>
  </div>
</div>
