.feedback-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 10%;
}

.back-ref {
  display: flex;
  gap: 20px;
  align-items: center;
  align-self: start;
  font-family: var(--jost);
  font-weight: var(--h4-weight);
  font-size: var(--h4-size);
  line-height: var(--h4-line);
  letter-spacing: var(--h4-spacing);
  color: var(--dark);
  position: re;
}

.backBtn {
  cursor: pointer;
  text-decoration: none;
  color: var(--dark);
}

.backBtn:active {
  cursor: pointer;
  text-decoration: none;
  color: var(--dark);
}

.content-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
