.btn-delete {
  background-color: var(--danger);
  border: none;
  outline: none;
  color: var(--primary-white);
  font-family: var(--jost);
  font-weight: var(--h4-weight);
  font-size: var(--h4-size);
  letter-spacing: var(--h4-spacing);
  line-height: var(--h4-line);
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: var(--danger-hover);
}
