.btn-primary {
  background-color: var(--primary);
  border: none;
  outline: none;
  color: var(--primary-white);
  font-family: var(--jost);
  font-weight: var(--h4-weight);
  font-size: var(--h4-size);
  letter-spacing: var(--h4-spacing);
  line-height: var(--h4-line);
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

/* --heading-4-weight: 700;
  --heading-4-size: 14px;
  --heading-4-line: 20px;
  --heading-4-spacing: 0.2px; */
