<div class="feedback-container" (click)="handleClick()">
  <app-upvoter-btn
    class="upvoter-btn"
    [count]="feedback?.upvotes"
    [id]="feedback?.id"
  ></app-upvoter-btn>
  <div class="feedback-items">
    <div class="feedback-info">
      <p class="feedback-title">{{ feedback?.title }}</p>
      <p class="feedback-summary">{{ feedback?.detail }}</p>
      <app-category-btn [category]="feedback?.category"></app-category-btn>
    </div>
  </div>
  <div class="comment-content">
    <img
      src="assets/shared/icon-comments.svg"
      alt="comments icon"
      height="15px"
    />
    <p class="comment-amount">{{ randonNum() }}</p>
  </div>
</div>
