.feedback-container {
  background-color: var(--primary-white);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  position: relative;
}

.feedback-container:hover {
  cursor: pointer;
}

.feedback-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.feedback-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.feedback-title {
  font-family: var(--jost);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line);
  letter-spacing: var(--h3-spacing);
}

.feedback-summary {
  font-family: var(--jost);
  font-size: var(--h4-size);
  color: var(--gray);
}

.comment-content {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--jost);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line);
  letter-spacing: var(--h4-spacing);
}

@media (max-width: 700px) {
  .feedback-container {
    flex-direction: column;
  }

  .upvoter-btn {
    order: 1;
  }

  .comment-content {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}
